/* You can add global styles to this file, and also import other style files */

.center {
    text-align: center;
  }
  
  .toast-success {
    padding-left: 80px;
    text-align: center;
    background-position: 35% !important;
  }
  form.submitted input.ng-invalid{
     border-color: red;
  }